@use 'variables';

.header_flex {
    @media screen and (min-width:768px){
        display: flex;
        justify-content: space-between;
    }
}

.header_img-logo {
    display: block;
    margin: 0 auto 0px auto;

    @media screen and (min-width:768px){
        margin:0;
    }
}

.header_navigation_flex{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.header_navigation_link{
    text-decoration: none;
    color:variables.$clr_orange;
    font-weight: 700;
    font-size: 18px;
    padding:20px;
}
.header_navigation_link:hover {
    background-color: variables.$clr_orange;
    color:variables.$clr_font-white;
}